.information {
    position: relative;
    padding: 820px 0px 140px 0px;
    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-family: 'Libre Baskerville';
        font-size: 31px;
        line-height: 123%;
        letter-spacing: 1.2px;
        color: #003331;
        padding: 5px;
        flex: 0 1 435px;
    }
    &__textblock {
        flex: 0 1 560px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    &__item {
    }
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}
.item-information {
    max-width: 256px;
    padding: 5px;
    &__title {
        font-size: 15px;
        line-height: 160%;
        color: #003331;
        margin: 0px 0px 5px 0px;
    }
    &__text {
        font-size: 15px;
        line-height: 160%;
        color: rgba(53, 83, 98, 0.8);
    }
}
@media (max-width: 1020px) {
    .information {
        padding: 400px 0px 70px 0px;
        &__container {
            flex-direction: column;
        }
        &__title {
            flex: 0 1 auto;
            padding-top: 10px;
        }
        &__textblock {
            flex: 0 1 auto;
        }
    }
}
@media (max-width: 560px) {
    .information {
        padding: 200px 0px 30px 0px;
        &__image img {
            opacity: 0.5;
        }
    }
    .item-information {
        max-width: 100%;        
        &__text {
            color: #003331;
        }
    }
}
